div.accordion {
  max-width: 288px;
  border-radius: 0%;
}

div.accordion.plate {
  margin: 0 auto;
}

.delete-button {
  margin-top: .5em;
 }

.delete-button:hover {
  background-color: red;
}

.add-form {
  display: grid;
  justify-content: center;
  text-align: center;
  box-shadow: 0 10px 10px grey;
}

div.accordian-container {
margin: 0;
}

.stone {
  background-image: url('/images/Marble.png');
  color: black;
  background-size: 280px 80px;
}

background-image {
  max-width: 280px;
}

div.stone {
  max-width: 280px;
  margin: auto;
}

#text-plate {
  width: 50%;
  color: var(--black);
  font-style: italic;
  border-radius: .8;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-height: 3px;
  background-color: rgb(126, 108, 30);
  margin: auto;
}

#text-plate:hover {
  cursor: pointer;
}

.accordion-content {
  max-width: 280px;
  background-color: wheat;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
};

.accordion-content button {
  margin-bottom: 1rem;
}