.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* e.g. 
      1fr 1fr
      minmax(10px, 1fr) 3fr
      repeat(5, 1fr)
      50px auto 100px 1fr
  */
  /* grid-template-rows: ... ...; */
  /* e.g. 
      min-content 1fr min-content
      100px 1fr max-content
  */
}
/* h1 {width: 100%} */


button.accordion {
  width: 100%;
  border-radius: 0%;
}

/* h2.licenses {
  text-align: center;
} */

button.licenses {
  margin: auto;
  display: block;
}

.delete-button {
  margin-top: .5em;
 }

.delete-button:hover {
  background-color: red;
}

.add-form {
  display: grid;
  justify-content: center;
  text-align: center;
  box-shadow: 0 10px 10px grey;
}

.accordion-content {
  border-left: 1px solid #006da5;
  border-right: 1px solid #006da5;
  border-bottom: 1px solid #006da5;
  max-height: 0;
  background-color: wheat;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  display: grid;
  justify-content: center;
  text-align: center;
};
 img {
   height: 200px;
  width: 300px; 
} 

/* The flip card container - 
set the width and height to whatever you want. 
We have added the border property to demonstrate 
that the flip itself goes out of the box on hover 
(remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 150px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  /* width: 100%; */
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


