#article-container {
  background-color: white;
  margin-left: 5rem;
}

#program {
  max-width: 400px;
  margin: 0 auto;
  max-height: 1000px;
  margin-top: 1.5rem;
  background-image: url("/images/Parchment.png");
  padding: 1rem;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  flex-basis: 100%;
  background-size: auto;
}

#program h2 {
  text-align: center;
}
