button.accordion {
  width: 100%;
  border-radius: 0%;
}

button.licenses {
  margin: auto;
  display: block;
}

.delete-button {
  margin-top: 0.5em;
}

.delete-button:hover {
  background-color: red;
}

.add-form {
  display: grid;
  justify-content: center;
  text-align: center;
  box-shadow: 0 10px 10px grey;
}

#gallery-section h2 {
  text-align: center;
  font-weight: normal;
  background-color: var(--teal);
  margin-bottom: 1rem;
}

.tip {
  color:palegreen;
}

.accordion-content {
  border-left: 1px solid #006da5;
  border-right: 1px solid #006da5;
  border-bottom: 1px solid #006da5;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  display: grid;
  justify-content: center;
  text-align: center;
}
