.container {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#publish-span {
margin-top: 1.5rem;
width: 100%;
}

#studio-section h3 {
  text-align: center;
  background-color: rgba(43, 143, 168, 0.424);
}

#studio-section form {
  background-image: url('/images/Canvas.jpg');
  padding-top: 1rem;
  padding-bottom: .5rem;
  text-align: center;
}

#upload-img-btn {
   width: 306px;
}

#upload-img-btn:hover {
  cursor: pointer;
}

#art-form img{
margin-bottom: 1rem;
background-position: contain;
max-width: 800px;
max-width: 1200px;
}

#studio-section input {
width: 153px;
}

#art-form span {
  width: 153px;
}

#submit-art-button{
  margin-top: .5rem;
  margin-bottom: 0;
  width: 306px;
}

#studio-section button {
  margin: 0 auto;
}

#art-form input {
  height: 21px;
}

.false-button,
.false-button:focus,
.false-button:active{
	outline:none;
	padding:0;
  pointer-events: none;
}

#statement-button {
  height: 21px;
  width: 306px;
  margin-top: 0;
}

#art-form textarea {
  width: 306px;
}

.statement {
  width: 153px;
  margin-bottom: -4px;
}

#studio-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-image: url('/images/Studio.png');
  height: 600px;
  background-position: contain;
}

.form-container {
     display: grid;
     grid-template-columns: subgrid;
     width: 300px;
    height: 300px; 
}

.contained-form {
    padding-left: 20px;
      grid-column-start: 2;  
}

#art-form button {
  height: 21px;
  margin-bottom: .5rem;
}

button {
    width: 153px;
}